.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tab-bar {
  background-color: darkslategray;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  color: white;
}

h2,h3,h4,h5,h6 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  text-align: center;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: black;
  width: 100%;
}

.main-text {
  color: white;
  text-align: center;
}
.spotify {
  text-align: center;
  padding: 20px;
}

.row {
  flex-wrap: wrap;
  padding: 0 4px;
  text-align: center;
}

.content-body {
  vertical-align: middle;
}

.active {
  background-color: cadetblue;
}

.row img {
  margin-top: 8px;
  vertical-align: middle;
  width:250px;
  padding: 10px;
}

.row img:hover {
  opacity: .7;
  transition: .4s;
}

.row video {
  margin-top: 8px;
  vertical-align: middle;
  padding: 10px;
  width: 400px;
  max-width: 80%;
  flex-direction: row;
}

th, td {
  border: 1px solid ivory;
  color: whitesmoke;
  padding: 8px;
}


table {
  border: 1px solid ivory;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

table th {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

table td {
  text-align: start;
  color: white;
}

.modal {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 50%;
  margin-top: 15%;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
   }
}

.email-form {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  align-self: center;
}

.scrollToTopBtn {
color: white;
background-color: black;
border: none;
cursor: pointer;
font-size: 24px;
position: sticky;
bottom: 0px;
right: 30px;
z-index: 10;
opacity: 0;
transform: translateY(100px);
transition: all .5s ease;
outline: none;    
}

.showButton {
  opacity: 1;
  position: sticky;
  transform: translateY(0);
  bottom: 0px;
}

.hideButton {
  position: sticky;
  opacity: 0;
  bottom: 0px;
}

#submit-btn {
  background-color:cadetblue;
  border-radius: 15px;
  outline: none;    
  text-transform: uppercase;
  color: white;
  margin: 10px;
  padding: 5px;
}

.email-form input {
  font-size: 16px;
}

p#submitMsg {
  color: white;
}

